/* css/src/layout_008_form_ex */

:root {
/* color */
--color-green1:#08a600;
--color-green2:#03c75a;
--color-red:   #f00;
--color-black: #151515;
--color-gray1: #8e8e8e;
--color-gray2: #f5f6f7;
--color-white: #fff;

/* font */
--font-size1:20px;
--font-size2:18px;
--font-size3:16px;
--font-size4:14px;

/* line */
--line-gray1:solid 1px #dadada;

}
/*  ========================================= */
/*  1. 직접선택해서 font-family 적용
    2. 공통의 class이름을 만들어서 적용 (다른 font icon방식과 동일)
    3. 속성이 동일한 이름으로 시작하는 요소에 적용  ( ^ : 시작, $ : 끝, * : 모든 )
*/

/* .material { font-family : 'Material_icons' ;} */
[class^="material"] { font-family : 'Material_icons' ; }



/* ========================================== */


#wrap {
  width: 470px; height:auto; min-height: 1210px;
  margin:auto;
  margin-top:50px;
  padding-top:100px;
  box-sizing: border-box;
  background-color: #ddd;
}

/* @supports (width:calc(1)) {
  #wrap { width: 6.25rem; height: 10rem; }
  #headBox { width:calc(100% - 40px); }
}

권장 : scss
Postcss */


h1 {
  width: 100%; height:140px;
  margin-bottom:10px;
}

h1 > a {
  display: block; width: 100%; height:100%;
  margin:auto;
  background-image: url("../../img/icon/m_naver_logo_20191126.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* joinBox ===================================== */
#joinBox {
  width: 100%; height: auto; min-height:910px;
  margin:auto;
  /* background-color: #888; */
}
.input_data_area {
  width: 100%; height: auto;
}
form {
  width: 100%; height: auto; min-height:910px;
}
fieldset {
  width: 100%; height: auto;
  min-height:200px;
}
fieldset:nth-of-type(2) {
  margin-top:24px;
  padding-top:24px;
  padding-bottom:30px;
  border-top:3px solid #e5e5e5;
}

/* input_part ================================= */
.input_part {
  width: 100%; height: auto;
}
.input_part > li {
  width: 460px; height: 50px;
  border:1px solid #e5e5e5;
  box-sizing:border-box;
  margin:auto;
  margin-bottom:12px;
  background-color: #fff;
}
.input_part > li:last-child {
  margin-bottom:0;
}
.input_part label {
  float:left;
  width: 56px; height: 100%;
  /* border-right:1px solid #e5e5e5; */
  cursor:pointer;
  /* background-color: #fa0; */
  text-align:center;
  font-size:0.5rem;
  /* line-height:58px; */
  color:#757575;
}

.input_part input {
  float:left;
  width: 550px; height: 100%;
  width:calc(100% - 9.375rem);
  padding-left:10px;
  color:#151515;
}
.input_part input::placeholder {
  color:#757575;
}
.input_part .check {
  float:right;
  width: 60px; height: 100%;
  background-color: #cca;
}




/* joinPart =================================== */
.joinPart {
  width: 100%; height: 140px;
  margin:auto;
}
.submit_btn {
  width: 100%; height:60px;
}
.submit_btn button {
  width: 100%; height: 100%;
  color:#fff;
  margin-top:50px;
  font-size:22px; font-size:1.375rem;
  font-weight: 600;
  background-color: #03c75a;
}