@charset "UTF-8";
/* css/src/project_01_main.css */
/* reset.css */

/* common.css */


/* wrap =================================================================================== */
#wrap1 {
  width:1920px; height:auto; min-height:1080px;
  margin:auto;
  background-color: #ddd;
}

#wrap2 {
  position:relative;
  width:1600px; height:auto; min-height:830px;
  margin:auto;
  background-color: #fff;
}
#headbox {
  float:left;
  width: 400px; height: 830px;
  background-color: #eee;
}
#sidebox {
  float:right;
  width:780px; height:170px;
  background-color: #ccc;
}
#newbox {
  float:left;
  width:420px; height:320px;
  background-color: #aaa;
}
#chartbox {
  float:left;
  width:450px; height:500px;
  background-color: #aef;
}
#recommendbox {
  position:absolute;
  float:left;
  width:420px; height:510px;
  box-sizing: border-box;
  background-color: #bf5;
}
#tvbox {
  float:right;
  width:330px; height:400px;
  background-color: #a0d;
}
#magazinebox {
  float:right;
  width:330px; height:260px;
  background-color: #ffc;
}
#footbox {
  float:right;
  width:450px; height:160px;
  background-color: #0a0;
}
#playbox {
  float:left;
  width:1400px; height:auto; min-height:100px;
  margin:auto;
  background-color: #fdf;
}